
#logoAquabid{
  max-height: 48vh;
  max-width: auto;
  margin-top: 1rem; 
}

#subLogoAquabid{
  max-height: 3vh;
  max-width: auto;
  margin-bottom: 3rem; 

}

.btn-login {
  margin-top: 0.75rem;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: : 0.75rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input{
  padding: 0.8rem;
  height: auto;
}

.form-label-group>label {
  height: auto;
  border-radius: 2rem;
}

.npadding{
  padding: 1.5rem;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
}

body{
  background-image: url(../images/oceano.jpg);
   background-position: 0% 100%;
   background-size: cover;
   background-repeat: no-repeat;
   font-family: 'Comfortaa', cursive;
}

#formularioLogin{
    max-width: 90vh;
    margin-bottom: 3rem;
    margin-top: 3rem;
    border-radius: 1rem;
    background-color:white;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}