
.form-boton{
    text-align: center;
}

@media (min-width: 992px){
    #formularioCliente{
     max-width: 720px;
}
}

#formularioCliente{
   
    
    margin-bottom: 3rem;
    margin-top: 6.75rem;
    border-radius: 1rem;
    padding-bottom: 0.5rem;
    background-color:white;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

#header{
    padding-left: 15px;
}

#bprincipal{
    font-family: 'Comfortaa', cursive;
}

aviso{
    color:firebrick;
}

.btn-login{
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem;
}
body{
    background-image:url(../images/oceano.jpg);
    background-position: 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}


